__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

3D硬件设计/
examples/
归档/
k230/

.trae/
*.log
boot_log.txt

*.SLDPRT
*.SLDASM
*.STL
*.step
*.3mf
~$*

Thumbs.db
.DS_Store
desktop.ini

.idea/
.vscode/
*.swp
*.swo
